<div class="footer">
    <div class="container">
        <div class="row mt-3 ">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 mt-4">
                <img src="pictures/picture3.PNG" class="rounded mx-auto d-block" alt="..." style="width:5rem">
                <p class="fs-5">درباره طراحینو</p>
                <p class="">پس از پررنگ شدن مباحث رابط و تجربه کاربری در دنیای IT ، نیاز به یک مرجع تخصصی آموزش و
                    تسهیلگر بیشتر احساس شد. پس برآن شدیم به عنوان اولین مرجع UI و UX فارسی فعالیتمان را شروع کنیم و سعی
                    داریم با کمک شما بهترین و باکیفیت ترین دوره های آموزشی و ابزارها را در اختیار شما همراهان عزیز قرار
                    دهیم</p>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 align-items-center mt-5">
                <p class="fs-5 mt-4">ارتباط با ما</p>
                <p class="footer p">ایمیل:koosar4970@gmail.com</p>
                <p class="footer p">تماس:0254678475</p>
                <p class="footer p">فکس:025-5478214</p>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 align-items-center mt-5">
                <p class="fs-5 mt-4">لینک های سریع</p>
                <a class="footer p" href="courses.html" target="_blank">دوره ها</a></br>
                <a class="footer p m-3" href="about us.html" target="_blank">درباره ما</a></br>
                <a class="footer p" href="Contact us.html" target="_blank">ارتباط با ما</a>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 align-items-center mt-5">
                <p class="fs-5 mt-4">مجوز های ما</p>
                <img src="pictures/Untitled-1.PNG" class="rounded mx-auto d-block" alt="..." style="width:12rem">
            </div>
        </div>
        <div class="row">
            <p>تمامی حقوق برای وبسایت طراحینو محفوظ است. کپی به هرشکل غیرمجاز و غیرقانونی است.</p>
        </div>
    </div>
</div>