<div class="row mb-4">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">طراحینو</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="index.html" target="blank">صفحه
                                اصلی</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="courses.html" id="navbarDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">دوره ها</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="courses.html" target="_blank">همه دوره ها</a>
                                </li>
                                <li><a class="dropdown-item" href="دوره منتورشیپ طراحی UI و UX.html"
                                       target="_blank">دوره منتورشیپ طراحی UI و UX</a></li>
                                <li><a class="dropdown-item" href="دوره متخصص تجربه کاربری (UX).html"
                                       target="_blank">دوره متخصص تجربه کاربری (UX)</a></li>
                                <li><a class="dropdown-item" href="دوره آموزشی جامع پروژه محور Adobe XD.html"
                                       target="_blank">دوره آموزشی جامع پروژه محور Adobe XD</a></li>
                                <li><a class="dropdown-item" href="دوره آموزش طراحی اصولی رابط کاربری(UI).html"
                                       target="_blank">دوره آموزش طراحی اصولی رابط کاربری(UI)</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Articles.html" target="_blank">مقالات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about us.html" target="_blank">درباره ما</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Contact us.html" target="_blank">تماس باما</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>