* {
    font-family: IRANSans;
    list-style-type: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:hover{
    text-decoration: none !important;
}
a{
    text-decoration: none !important;
}

/*$theme-colors: (*/
/*  "primary":    $primary,*/
/*  "secondary":  $secondary,*/
/*  "success":    $success,*/
/*  "info":       $info,*/
/*  "warning":    $warning,*/
/*  "danger":     $danger,*/
/*  "light":      $light,*/
/*  "dark":       $dark*/
/*);*/
